
React_Web_Design/react-for-web-designers-master/

React_Web_Design/react-for-web-designers-master.zip

React_Web_Design/assets/

React_Web_Design/business.wpdiy.net/

React_Web_Design/hplussport.com/

React_Web_Design/landonhotel.com/

React_Web_Design/leafandmortar.com/

React_Web_Design/status_api/

Python_TkInter/TkInter01/.project

Python_TkInter/TkInter01/.pydevproject

Java_ByExamples/P1/FileSearch/.settings/

Java_ByExamples/P1/FileSearch/.classpath

Java_ByExamples/P1/FileSearch/.project

Java_CreationalDesign/BuilderPattern/.project

Java_CreationalDesign/BuilderPattern/.classpath

Java_CreationalDesign/BuilderPattern/.settings/

Java_CreationalDesign/BuilderPattern/bin/

Java_CreationalDesign/.metadata/

Python_FaceRecognition/testImage.jpg
