
React_Web_Design/react-for-web-designers-master/

React_Web_Design/react-for-web-designers-master.zip

React_Web_Design/assets/

React_Web_Design/business.wpdiy.net/

React_Web_Design/hplussport.com/

React_Web_Design/landonhotel.com/

React_Web_Design/leafandmortar.com/

React_Web_Design/status_api/

Python_TkInter/TkInter01/.project

Python_TkInter/TkInter01/.pydevproject

Java_ByExamples/P1/FileSearch/.settings/

Java_ByExamples/P1/FileSearch/.classpath

Java_ByExamples/P1/FileSearch/.project

Java_CreationalDesign/BuilderPattern/.project

Java_CreationalDesign/BuilderPattern/.classpath

Java_CreationalDesign/BuilderPattern/.settings/

Java_CreationalDesign/BuilderPattern/bin/

Java_CreationalDesign/.metadata/

Python_FaceRecognition/testImage.jpg

Python_FaceRecognition/makeUp.jpeg

Python_FaceRecognition/p1.jpeg

Python_FaceRecognition/p2.jpeg

Python_FaceRecognition/p3.jpeg

Python_FaceRecognition/p4.jpeg

Python_FaceRecognition/u1.jpeg

React_PWA/pw-app/build/

React_PWA/pw-app/node_modules/

React_PWA/pw-app/public/

React_PWA/pw-app/
